<form action="/expenses" method="post">
  <label for="name"></label>
  <input type="text" name="name" id="name" placeholder="name">
  <label for="date"></label>
  <input type="date" name="date" id="date" placeholder="date">
  <label for="amount"></label>
  <input type="number" name="amount" id="amount" placeholder="amount">
  <button type="submit">Create</button>
</form>