<div class="mt-5">
  <div class="container">
    <form action="/expenses" method="POST" class="shadow-lg p-3 needs-validation" novalidate>
      <div class="mb-3">
        <label for="name" class="form-label">支付項目</label>
        <input type="text" name="name" id="name" placeholder="請填入支付名稱" class="form-control" required>
        <div class="invalid-feedback">請填寫支付品名稱</div>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">支付日期</label>
        <input type="date" name="date" id="date" value="{{today}}" max="{{today}}" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">支付類別</label>
        <select name="categoryId" id="category" class="form-select" required>
          <option value="" selected disabled hidden>選擇類別</option>
          {{#forEach categories}}
          <option value="{{this.categoryName}}">{{this.categoryName}}</option>
          {{/forEach}}
        </select>
        <div class="invalid-feedback">請選擇類別</div>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">支付金額</label>
        <input type="number" name="amount" id="amount" placeholder="請填入支付金額" class="form-control" required>
        <div class="invalid-feedback">請填寫支付金額</div>
      </div>
      <div class="d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary">新增紀錄</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/formValidate.js"></script>
