<div class="row sign-form">
  <div class="col m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">註冊</h1>
      <hr>
      <form action="/users/register" method="post">
        <div class="form-group mb-3">
          <label for="name">名稱</label>
          <input type="name" name="name" id="name" class="form-control" placeholder="請輸入名稱">
        </div>
        <div class="form-group mb-3">
          <label for="email">電子郵件</label><span class="required">*必填</span>
          <input type="email" name="email" id="email" class="form-control" placeholder="請輸入 Email 帳號">
        </div>
        <div class="form-group mb-3">
          <label for="password">密碼</label><span class="required">*必填</span>
          <input type="password" name="password" id="password" class="form-control" placeholder="密碼需要8個字元以上">
        </div>
        <div class="form-group mb-3">
          <label for="password-cfn">確認密碼</label><span class="required">*必填</span>
          <input type="password" name="confirmPassword" id="password-cfn" class="form-control" placeholder="請輸入相同密碼">
        </div>
        <button type="submit" class="btn btn-primary">登入</button>
      </form>
      <p class="lead mt-4">
        有帳號？<a href="/users/login">登入</a>
      </p>
    </div>
  </div>
</div>
